@{
	Layout = "_Layout";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
@if (ViewBag.Result == "Verification Unsuccessful")
{
	<div class="text-center"><h1 class="text-danger">@ViewBag.Result</h1></div>
}
else
{
	<div class="text-center"><h1 class="text-success">@ViewBag.Result</h1></div>
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>