@{
	Layout = "_Layout";		
}
<main class="container py-5 text-center">
            
    <form method="post">
        <div class="mb-3">
            <label for="email">Email:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p class="text-danger">@ViewBag.Alert</p>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
